.main_box {
  background-image: url("./images/drop_item.svg");
  background-repeat: no-repeat;
  background-position: center 0;
}
.drag_item {
  background-image: url("./images/drop_item.svg"),
                    url("./images/drop_item_bg.svg");
  background-repeat: no-repeat, repeat;
  background-position: center 0;
}
.cell_ {
  border: solid 1px black;
}
.cell_grey {
  border: solid 1px black;
  background-color: #E4E4E4;
}
.cell_pink {
  border: solid 1px black;
  background-color: #ffccf7;
}
.help_table_box {
  border: solid 1px black;
}
.warnings_title {
  font-size: 30px;
  color: white;
}
.warnings_background {
  background-color: grey;
}
.warning_box {
  background-color: white;
}
.red_txt{
  color: red;
}
.black_txt{
  color: black;
}
